
<div class="row">
  <div class="col-md-8 col-md-offset-2 well well-sm">
    <h3>Sign in</h3>
    <form data-ng-submit="login(loginForm.email, loginForm.password)">
      <div class="form-group">
        <input data-ng-model="loginForm.email" 
               type="email" required placeholder="Email" class="form-control" />
      </div>
      <div class="form-group">
        <input data-ng-model="loginForm.password" 
               type="password" required placeholder="Password" class="form-control" />
      </div>
      <div class="form-group">
        <button class="btn btn-success col-xs-12" type="submit" name="button">Sign in</button>
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2 well well-sm">
    <h3>Register</h3>
    <form data-ng-submit="register(registerForm.email, registerForm.password)">
      <div class="form-group">
        <input data-ng-model="registerForm.email" 
               type="email" required placeholder="Email" class="form-control" />
      </div>
      <div class="form-group">
        <input data-ng-model="registerForm.password" 
               type="password" required placeholder="Password" class="form-control" />
      </div>
      <div class="form-group">
        <button class="btn btn-success col-xs-12" type="submit" name="button">Create user</button>
      </div>
    </form>
    &nbsp;<!-- TODO: Replace with something CSSish. Later. Maybe. -->
    <div data-ng-repeat="u in users" class="well well-sm">
      {{ u.email}}
      <i data-ng-click="remove(u, $index)" 
         class="pull-right glyphicon glyphicon-trash"></i>&nbsp;
    </div>
  </div>
</div>
